// This is pretty hacky css because it's just for example pages
// Should be using flexbox.

html, body, .app
  height 100%
  width  100%

body
  .app
    .chart-options
      height 30px

    .time-series-chart
      position absolute
      top 30px
      left 0px
      bottom 0px
      right 0px
      padding 25px
      .filter, .chart
        width 100%
      .filters
        height 20%
      .chart
        height 80%
