// This is pretty hacky css because it's just for example pages
// Should be using flexbox.

html, body, .app
  height 100%
  width  100%

body
  .app
    .chart-options
      height 30px

    .time-series-chart
      position absolute
      top 30px
      left 0px
      bottom 0px
      right 0px

      .filters
        width 100%

      .chart
        position absolute
        top 0px
        bottom 0px
        right 0px
        left 0px
